@using Microsoft.AspNetCore.Authentication

<div class="row">
    <div class="col-md-5">
        <h2>API</h2>
        <br><a asp-area="" asp-controller="Sensor" asp-action="FetchDataUser">Fetch data - User</a>
            <br> <a asp-area="" asp-controller="Sensor" asp-action="FetchDataModerator">Fetch data - Moderator</a>
                 <br><a asp-area="" asp-controller="Sensor" asp-action="FetchDataAdmin">Fetch data - Admin </a>


    </div>
</div>

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>