@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http.Features

@{
    var result = await Context.AuthenticateAsync("Cookies");
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var cookieString = consentFeature?.CreateConsentCookie();
}
<div class="row">
    <div class="col-xs-12">
        @if (result.Succeeded)
        {
            <h2>Authenticated</h2>
            <ul>
                @foreach (var claim in result.Principal.Claims)
                {
                    <li><strong>@claim.Type:</strong> @claim.Value</li>
                }
            </ul>

            <div class="col-xs-12">
                <a asp-action="Logout" class="btn btn-default">Logout</a>
            </div>
        }


</div>
<script>
    (function () {
        document.cookie = cookieString;
    })();
</script>